* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    height: 100%;
}

html{
    height: 100%;
}


div{
    color: white;
}

button{
    background-color: #e7e7e7; /* Green */
    border: none;
    color: black;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    min-height: 50px;
}

input{
    border: 1px solid #ccc;
    background: #FFF;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    font-size: 20px;
    flex: 2;
}

progress{
    width: 100%;
    background-color: white;
    color: #283e65; 
}

.playboard{
    background-color: #7dc2ff;
    min-height: 30px;
}

.selected{
    background-color: green;
}

.main_container{
    background-color: #283e65;
    min-width: 200px;
    min-height: 100%;
    margin: auto;
}

div.boggle_header{
    margin: auto;
    min-height: 50px;
    color: #7dc2ff;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    font-size: 33px;
    margin-bottom: 60px;
}

div.boggle_header p {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 2em;
}

.game_info button{
    min-height: 0;
}

.start_game_input{
    display: flex;
    max-width: 90%;
    margin: auto;
}

#leaderboard_header div{
    color: #929292;
    border-color: white;
}

#button_grid{
    max-width: 600px;
    padding: 10px;
    margin: auto;
}

.leaderboard{
    max-width: 600px;
    margin: auto;
}

.leaderboard_item{
    align-items: center !important;
    justify-content: right !important;
    display: flex !important;
}

.leaderboard_row{
    border-bottom: solid;
    border-width: 1px;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
    width: 100%;
}
.span_3_of_4 {
    width: 74.6%;
}
.span_2_of_4 {
    width: 49.2%;
}
.span_1_of_4 {
    width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 240px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

div.section div{
    min-height: 35px;
}